@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 28px;
    height: 100vh;
    width: 100vw;
    background-color: hsl(218, 23%, 16%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: hsl(217, 19%, 24%);
    max-width: 540px;
    min-height: 240px;
    flex-direction: column;
    text-align: center;
    padding: 48px;
    border-radius: 14px;
    position: relative;
}

.advice_id {
    color: #52ffa8;
    display: block;
    margin-bottom: 24px;
    letter-spacing: 4px;
    font-size: 14px;
}

.advice {
    color: #cee3e9;
    margin-bottom: 30px;
    font-size: 27.2px;
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 0.05px;
}

.logo {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #52ffa8;
    outline: none;
    border: 0;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logo:hover {
    opacity: .7;
}

footer {
    color: #fff;
    position: absolute;
    bottom: 10px;
    font-size: 12px;
    text-align: center;
    font-weight: 100;
}

footer a {
    color: hsl(150, 100%, 66%);
}